{% extends 'admin/base.html' %}
{% block title %} Listar Profissão {% endblock %}

{% block content %}
<div class="content">
    <h3 style="background-color: rgb(198, 197, 197);">
        Cadastrar Profissão </h3>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nome_produto">Nome da Profissão:</label>
                <input type="text" class="form-control" id="nome_produto" name="nome_produto" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" class="form-control" id="descricao" name="descricao" required>
            </div>
            <div class="form-group">
                <label for="preco">Preço do Produto:</label>
                <input type="text" class="form-control" id="preco" name="preco" required>
            </div>
            <div class="form-group">
                <label for="ativo" id="ativo" class="for label">Status:</label>
                <select class="form-select" name="ativo">
                    <option value="True">Ativo</option>
                    <option value="False">Inativo</option>
                </select>

                <select name="Categoria" class="form-select" required>

                {% for i in profissoes %}
                    {% if i['ativo'] == "True" %}
                <option value="{{i['id']}}">{{i['nome'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            </div>
            <div class="form-group">
                <label for="Imagem">Imagem:</label>
                <input type="file" class="form-control" id="Imagem" name="Imagem" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>

        </form>
    </div>
</div>
{% endblock %}